<h2>New Post</h2>

<form action="/posts" method="POST">
  Title <input type="text" name="banana[title]" value="<%= @post.title %>" />
  Content <input type="text" name="banana[content]" value="<%= @post.content %>" />

  <input type="submit"/>
</form>

<!-- HTTP POST /posts
...

banana[title]=Day44&banana[content]=Blah
{banana: {title: "Day44", content: "Blah"}}
 -->
