<h2>New Post</h2>

<%= render "shared/error_messages", obj: @post %>

<form action="/posts" method="POST">
  Title
  <input type="text" name="post[name]" value="<%= @post.title %>" />
  Content
  <input type="text" name="post[content]" value="<%= @post.content %>" />

  <input type="submit"/>
</form>
