<h2>New Post</h2>
<ul>
  <% @post.errors.each do |column, message| %>
    <li>
      <strong><%= column.capitalize %></strong> <%= message %>
    </li>
  <% end %>
</ul>

<form action="/posts" method="POST">
  Title
  <input type="text" name="post[name]" value="<%= @post.title %>" />
  Content
  <input type="text" name="post[content]" value="<%= @post.content %>" />

  <input type="submit"/>
</form>
