<h2>New Post</h2>

<% if @post.errors.any? %>
  <ul class='error-messages'>
    <% @post.errors.each do |column_name, message| %>
      <li>
        <strong><%= column_name.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

<form action="/posts" method="POST">
  Title
  <input type="text" name="post[name]" value="<%= @post.title %>" />
  Content
  <input type="text" name="post[content]" value="<%= @post.content %>" />

  <input type="submit"/>
</form>
